@font-face {
	font-family: 'PrometoW04-Regular';
	src: url('fonts/PrometoW04-Regular.eot') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PrometoW04-Regular';
	src: url('fonts/PrometoW04-Regular.woff#PrometoW04-Regular') format('woff'), url('fonts/PrometoW04-Regular.ttf') format('truetype'), url('fonts/PrometoW04-Regular.svg#PrometoW04-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font: 400 15px/1.8 Lato, sans-serif;
	color: #777;
}

h3,
h4 {
	margin: 10px 0 30px 0;
	letter-spacing: 10px;
	font-size: 20px;
	color: #111;
}

.person {
	border: 10px solid transparent;
	margin-bottom: 25px;
	width: 80%;
	height: 80%;
	opacity: 0.7;
}

.person:hover {
	border-color: #f1f1f1;
}

.carousel-inner img {
	width: 100%;
	/* Set width to 100% */
	margin: auto;
	height: 100%;
	margin-bottom: -10px;
}

.carousel-caption h3 {
	color: #fff !important;
}
.brd3-white{border:3px solid #fff !important;}
.brd3-pink{border: 3px solid transparent;border-image:linear-gradient(to right, red , yellow);}

@media (max-width: 600px) {
	.carousel-caption {
		display: none;
		/* Hide the carousel text when the screen is less than 600 pixels wide */
	}
}

.bg-1 {
	background: #2d2d30;
	color: #bdbdbd;
}

.bg-1 h3 {
	color: #fff;
}

.bg-1 p {
	font-style: italic;
}

.list-group-item:first-child {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.list-group-item:last-child {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.thumbnail {
	padding: 0 0 15px 0;
	border: none;
	border-radius: 0;
}

.thumbnail p {
	margin-top: 15px;
	color: #555;
}

.btn {
	padding: 10px 20px;
	background-color: #333;
	color: #f1f1f1;
	border-radius: 0;
	transition: .2s;
}

.btn:hover,
.btn:focus {
	border: 1px solid #333;
	background-color: #fff;
	color: #000;
}

.modal-header,
h4,
.close {
	background-color: #333;
	color: #fff !important;
	text-align: center;
	font-size: 30px;
}

.modal-header,
.modal-body {
	padding: 40px 50px;
}

.nav-tabs li a {
	color: #777;
}

#googleMap {
	width: 100%;
	height: 400px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.navbar {
	font-family: Montserrat, sans-serif;
	margin-bottom: 0;
	background: #0e73f700;
	border: 0;
	font-size: 11px !important;
	letter-spacing: 4px;
	margin-top: 40px;
}

.navbar li a,
.navbar .navbar-brand {
	color: #d5d5d5 !important;
}

.navbar-nav li a:hover {
	color: #fff !important;
}

.navbar-nav li.active a {
	color: #fff !important;
	background-color: #29292c !important;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.open .dropdown-toggle {
	color: #fff;
	background-color: #555 !important;
}

.dropdown-menu li a {
	color: #000 !important;
}

.dropdown-menu li a:hover {
	background-color: red !important;
}

footer {
	background-color: #2d2d30;
	color: #f5f5f5;
	padding: 32px;
}

footer a {
	color: #f5f5f5;
}

footer a:hover {
	color: #777;
	text-decoration: none;
}

.form-control {
	border-radius: 0;
}

textarea {
	resize: none;
}

.top_line {
	position: fixed;
	left: 0;
	top: 0;
	height: 49px;
	width: 100%;
	color: #fff;
	z-index: 140;
	font-size: 18px;
	line-height: 28px;
	padding-top: 10px;
}

.blue-bg {
	background: #a853b9;
}

.top_line__live,
.top_line__bonus {
	float: left;
	margin-right: 41px;
}

.top_line__how_get a u {
	text-decoration: none;
	border-bottom: 1px solid #fff;
	font-family: 'PrometoW04-Regular';
}

.container .top_line__live,
.container .top_line__bonus {
	color: white !important;
	font-family: 'PrometoW04-Regular';
}

.top_line__how_get {
	float: right;
	margin-right: 12px;
}

.top_line__telegram {
	display: inline-block;
	vertical-align: top;
	width: 37px;
	height: 37px;
	background: url(images\sprite.svg) -18px -142px no-repeat #0c53af;
	margin: -4px 0 0 14px;
	border-radius: 100%;
}

.top_line a {
	color: #fff;
	text-decoration: none;
}

.glyphicon-send {
	border-radius: 50%;
	padding: 7px 9px;
	margin: auto;
	text-align: center;
	background: #5f0d71;
	font-size: 15px;
	margin-left: 4px;
}

.services {
	text-align: center;
}

.bg-title {
	font-size: 100px;
	opacity: .18;
	line-height: 1;
	margin-bottom: -55px;
	font-family: 'PrometoW04-Regular' !important;
}

.section-title {
	font-size: 64px;
	margin-bottom: 30px;
	margin-top: 0;
	color: white;
	font-family: 'PrometoW04-Regular' !important;
}

.fadeInUp {
	animation-name: c;
}

.services-holder {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	display: -ms-flexbox;
	display: flex;
	margin-top: 40px;
}

.services-holder .service-item {
	padding: 0 15px;
	width: 25%;
	float: left;
	margin-bottom: 70px;
	display: -ms-flexbox;
	display: flex;
}

.services-holder .service-item .service-item-entry {
	max-width: 320px;
	margin: 0 auto;
	text-align: left;
	background-color: #000000;
	padding: 40px 90px 97px 25px;
	/* border-bottom: 3px solid #a843fd; */
	position: relative;
	border-radius: 10px;
	cursor: pointer;
	transition: .6s;
	-ms-flex: 1;
	flex: 1;
    border: 3px solid white;
    box-shadow: 0px 0 19px 2px rgb(227, 136, 243);
}


}
.services-holder .service-item .service-item-entry .text-side {
	max-width: 180px;
	position: relative;
	z-index: 2;
}
.services-holder .progress-bar-holder {
	height: 40px;
    position: absolute;
    width: 90%;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #763881;
    border-radius: 15px;
    z-index: 0;
	padding:0 5px !important;
}
.services-holder .service-item .service-item-entry .new_send {
	position: absolute;
	height: 56px;
	max-width: 56px;
	width: 100%;
	top: 43px;
	right: 25px;
	background-position: 50%;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 2;
	color: #EDEBDF !important;
	font-size: 40px;
}
.text-side .title {
	color: white !important;
	font-family: 'PrometoW04-Regular' !important;
}
.services-holder .status {
	display: block;
	font-size: 12px;
	color: #5cbaf0;
	font-family: 'PrometoW04-Regular' !important;
	padding: 5px 0 0 !important;
}
.services-holder .status span {
	color: #dff0d8;
	font-family: 'PrometoW04-Regular' !important;
}
.services-holder .progress-bar-holder .progress-bar {
	height: 30px;
    min-width: 8px;
    width: 20px;
    border-radius: 15px;
    overflow: hidden;
    
    background: #000000;
    /* background: -moz-linear-gradient(left, rgba(91,75,234,1) 1%, rgba(190,76,219,1) 58%, rgba(224,175,215,1) 100%); */
    /* background: -webkit-linear-gradient(left, rgba(91,75,234,1) 1%,rgba(190,76,219,1) 58%,rgba(224,175,215,1) 100%); */
    /* background: linear-gradient(to right, rgba(91,75,234,1) 1%,rgba(190,76,219,1) 58%,rgba(224,175,215,1) 100%); */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b4bea', endColorstr='#e0afd7',GradientType=1 ); */
    position: relative;
    top: 5px;
 
  
}
.services-holder .progress-bar-holder .progress-bar .progress-value {
	position: relative;
	z-index: 99999;
	text-align: center;
	color: #fff;
	font-weight: 600;
	font-size: 18px;
	top: -36px;
	font-family: 'PrometoW04-Regular' !important;
}
.services-holder .progress-bar-holder .progress-bar .progress.light-green {
	  
    background: #000000;
    /* background: -moz-linear-gradient(left, rgba(91,75,234,1) 1%, rgba(190,76,219,1) 58%, rgba(224,175,215,1) 100%); */
    /* background: -webkit-linear-gradient(left, rgba(91,75,234,1) 1%,rgba(190,76,219,1) 58%,rgba(224,175,215,1) 100%); */
    /* background: linear-gradient(to right, rgba(91,75,234,1) 1%,rgba(190,76,219,1) 58%,rgba(224,175,215,1) 100%); */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b4bea', endColorstr='#e0afd7',GradientType=1 ); */
}
.services-holder .service-item .service-item-entry:hover {
	background: -moz-linear-gradient(to bottom, rgb(107, 70, 114) 43%, rgb(128, 91, 135) 81%, rgb(60, 37, 64) 99%, rgb(18, 13, 19) 100%);
	/* FF3.6-15 */
	
	background: -webkit-linear-gradient(to bottom, rgb(107, 70, 114) 43%, rgb(128, 91, 135) 81%, rgb(60, 37, 64) 99%, rgb(18, 13, 19) 100%);
	/* Chrome10-25,Safari5.1-6 */
	
	background: linear-gradient(to bottom, rgb(107, 70, 114) 43%, rgb(128, 91, 135) 81%, rgb(60, 37, 64) 99%, rgb(18, 13, 19) 100%);
}
.services-section {
	background: #5a2c63;
}
@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
@media (min-width: 1400px) {
	.container {
		max-width: 1300px;
	}
}
@media (min-width: 1700px) {
	.container {
		max-width: 1600px;
	}
}
.distribution {
	padding-top: 46px;
	padding-bottom: 109px;
	background: black;
	border-top: 2px solid white;
}
.container_section-3 h2 {
	font-size: 44px;
	line-height: 135%;
	font-weight: 300;
	text-align: center;
}
.under_header_p {
	text-align: center;
	font-size: 20px;
	line-height: 130%;
	font-weight: 300;
	margin-top: 5px;
	font-family: 'PrometoW04-Regular' !important;
	color: white !important;
}
.distribution__lines {
	margin: 127px -6px 0 5px;
	position: relative;
	height: 8px;
	background: rgba(12, 114, 248, 1);
	background: -moz-linear-gradient(left, rgba(12, 114, 248, 1) 0%, rgba(128, 69, 179, 1) 47%, rgba(241, 24, 111, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(12, 114, 248, 1)), color-stop(47%, rgba(128, 69, 179, 1)), color-stop(100%, rgba(241, 24, 111, 1)));
	background: -webkit-linear-gradient(left, rgba(12, 114, 248, 1) 0%, rgba(128, 69, 179, 1) 47%, rgba(241, 24, 111, 1) 100%);
	background: -o-linear-gradient(left, rgba(12, 114, 248, 1) 0%, rgba(128, 69, 179, 1) 47%, rgba(241, 24, 111, 1) 100%);
	background: -ms-linear-gradient(left, rgba(12, 114, 248, 1) 0%, rgba(128, 69, 179, 1) 47%, rgba(241, 24, 111, 1) 100%);
	background: linear-gradient(to right, rgba(12, 114, 248, 1) 0%, rgba(128, 69, 179, 1) 47%, rgba(241, 24, 111, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c72f8', endColorstr='#f1186f', GradientType=1);
}
.distribution__line1 {
	width: 56%;
}
.distribution__line2 {
	width: 19.5%;
}
.distribution__line3 {
	width: 15.5%;
}
.distribution__line4 {
	width: 9%;
	border-right: 0;
}
.distribution__line {
	position: relative;
	float: left;
	height: 8px;
	border-left: 3px solid #fff;
}
.distribution__line dt {
	font-size: 22px;
	line-height: 34px;
	font-weight: 300;
	text-align: center;
	width: 100%;
	position: absolute;
	left: 0;
	top: -45px;
	font-family: 'PrometoW04-Regular' !important;
	color: white;
}
.distribution__line dd {
	top: 18px;
	font-size: 48px;
	font-weight: 300;
	text-align: center;
	width: 100%;
	position: absolute;
	line-height: 34px;
	font-family: 'PrometoW04-Regular' !important;
	color: white;
}
.distribution__line .distribution_question {
	margin-left: -5px;
}
.distribution_question {
	z-index: 7;
	text-align: center;
	background: #a853b9;
	border-radius: 100%;
	width: 15px;
	height: 15px;
	font-size: 9px;
	line-height: 16px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	color: white;
}
.distribution_question_popup_center {
	text-align: center;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	left: 50%;
	padding-left: 20px;
	padding-right: 20px;
	width: 180px;
}
.distribution__row {
	margin: 167px -6px 0 -6px;
}
justify-content-between {
	-webkit-box-pack: justify!important;
	-ms-flex-pack: justify!important;
	justify-content: space-between!important;
}
.distribution__left {
	padding-right: 0;
	position: relative;
	font-weight: 300;
	padding-bottom: 85px;
	max-width: 618px;
}
.distribution__left .p1 {
	font-size: 18px;
	font-family: 'PrometoW04-Regular' !important;
}
.distribution__left p {
	line-height: 24px;
	color: white !important;
}
.distribution__left .p1 strong {
	font-weight: 600;
	margin-left: 7px;
	font-size: 24px;
	color: #fff;
	font-family: 'PrometoW04-Regular' !important;
}
.distribution__left .atificial-intelligence__accept {
	padding-top: 30px;
}
.distribution__left .atificial-intelligence__accept .p2 {
	display: inline-block;
	vertical-align: top;
	width: 80px;
	font-size: 16px;
	font-family: 'PrometoW04-Regular' !important;
}
.distribution__left .atificial-intelligence__accept ul {
	display: inline-block;
	vertical-align: top;
	width: 485px;
	margin: 5px 0 0 18px;
}
.distribution__left .atificial-intelligence__accept ul li {
	width: 77px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	position: relative;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	font-family: 'PrometoW04-Regular' !important;
}

 .atificial-intelligence__wrap {
    width: 100%;
	max-width:700px !important;
     text-align: center;
     float: none;
     margin: 0 auto;
     padding-left: 150px;
}
.atificial-intelligence__accept li img {
	width: 100%;
	max-width: 80%;
	margin-bottom: 5px !important;
}
.distribution__caps {
	padding: 36px 0 0 0;
	margin-bottom: 36px;
	display: -webkit-flex;
	/* Safari */
	
	display: flex;
}
.distribution__caps li {
	flex-basis: 32%;
	list-style: none;
	background: linear-gradient(to right, #a853b9 0%, #5f0d71 100%);
	padding: 13px 15px;
	border: 3px solid white;
    box-shadow: 0px 0 20px 10px rgb(118, 56, 129);
}
.distribution__caps .p3 {
	color: white;
	font-family: 'PrometoW04-Regular' !important;
}
.distribution__caps li .p4 {
	font-size: 27px;
	margin-top: 2px;
	color: white;
	font-family: 'PrometoW04-Regular' !important;
}
.distribution__left .p5 {
	margin-top: 6px;
	font-family: 'PrometoW04-Regular' !important;
}
.distribution__left p {
	line-height: 24px;
	font-size: 16px;
}
.distribution__left .p5 strong {
	font-weight: 600;
	font-size: 22px;
	color: #fff;
}
.distribution__limited_offer {
    overflow: hidden;
    margin-top: 4px;
    padding: 168px 30px 40px 30px;
    min-height: 602px;
    background: #000;
    max-width: 520px;
    background-size: cover;
    position: relative;
    color: #fff;
    float: right;
	border:3px solid white;
	-webkit-box-shadow:inset 0 0 39px #fd6ffc, 0 0 39px rgb(235, 131, 253)
-moz-box-shadow: inset 0 0 39px #fd6ffc, 0 0 39px rgb(235, 131, 253);
box-shadow: inset 0 0 39px #fd6ffc, 0 0 39px rgb(235, 131, 253)
}
.distribution__limited_offer .p6 {
	position: absolute;
	right: 0;
	width: 150px;
	font-size: 36px;
	text-transform: uppercase;
	line-height: 110%;
	top: 29px;
	font-family: 'PrometoW04-Regular' !important;
}
.distribution__limited_offer .p7 {
	padding: 0 0 0 16px;
	font-size: 58px;
	line-height: 110%;
	text-transform: uppercase;
	font-family: 'PrometoW04-Regular' !important;
}
.distribution__limited_offer .p8 {
	font-size: 30px;
	margin: -2px 0 0 16px;
	font-family: 'PrometoW04-Regular' !important;
}
.distribution__limited_offer .p9 {
	margin-top: 34px;
}
.input_overflow {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 100%;
}
.distribution__limited_offer .p10 {
	margin-top: 50px;
	font-family: 'PrometoW04-Regular' !important;
}
.distribution__limited_offer .p10 .btn {
	padding: 0;
	text-decoration: none;
	border: 0;
	height: 60px;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	color: #fff;
	font: 400 24px 'Roboto', Arial, sans-serif;
	border-radius: 0;
	width: 100%;
	border: 0;
	background: #b90098;
	font-family: 'PrometoW04-Regular' !important;
}
.distribution__limited_offer .p10 .btn:hover {
	background: #4e035f;
	font-family: 'PrometoW04-Regular' !important;
}
.ml-subscribe-form input.form-control {
	background: transparent;
	border: none;
	border-bottom: 1px solid white;
	font-size: 17px;
    font-family: 'PrometoW04-Regular' !important;

}
input[type=text] {
	color: white !important;
}
.simple-section {
	text-align: center;
	padding-top: 45px;
	padding-bottom: 45px;
	background: url(../images/Roadmap_background2.jpg) !important;
	border-top: 2px solid white;
}
@media (max-width: 1780px) {
	.bg-title {
		margin-bottom: -37px;
		margin-left: -30px;
		font-size: 66px;
		font-family: 'PrometoW04-Regular' !important;
	}
}
.roadmap-container {
	position: relative;
	margin-top: 180px;
}
.roadmap-container .roadmap-snake {
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 1299px;
	height: 100%;
	position: absolute;
	margin-left: 34px;
}
.roadmap-container .roadmap-snake .line {
	height: 150px;
	width: 100%;
	position: relative;
	transition: .3s;
}
.roadmap-container .roadmap-snake .line .gradient {
	height: 28px;
	width: 80%;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background: linear-gradient(90deg, rgba(39, 201, 211, 0) 0, #ffffff 50%, rgba(255, 255, 255, 0));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0027c9d3", endColorstr="#0027c9d3", GradientType=1);
	/* box-shadow: 0 18px 6px -6px #763881; */
}
.roadmap-container .roadmap-snake .line.active {
	animation: dash 5s linear infinite;
}
.roadmap-container .roadmap-snake .line:after,
.roadmap-container .roadmap-snake .line:before {
	content: "";
	display: block;
	position: absolute;
	width: 50%;
	height: 100%;
}
.roadmap-container .roadmap-snake .line:before {
	left: 0;
}
.roadmap-container .roadmap-snake .line:after {
	right: 0;
}
.roadmap-container .roadmap-snake .line:nth-child(2n) .gradient {
	display: none;
}
.roadmap-container .roadmap-snake .line:nth-child(odd):after,
.roadmap-container .roadmap-snake .line:nth-child(odd):before {
	border-top: 28px solid #ffffff;
    /* box-shadow: 0 -12px 12px -2px rgb(118, 56, 129); */
}
.roadmap-container .roadmap-snake .line:nth-child(odd):after {
	border-right: 28px solid rgb(255, 255, 255);
	border-top-right-radius: 70px;
}
.roadmap-container .roadmap-snake .line:nth-child(4n+3),
.roadmap-container .roadmap-snake .line:nth-child(4n+5) {
	margin-top: -28px;
}
.roadmap-container .roadmap-snake .line:nth-child(4n+3):before {
    border-top: 28px solid rgb(255, 255, 255);
    border-left: 28px solid #fff;
    border-top-left-radius: 70px;
}
.roadmap-container .roadmap-snake .line:nth-child(4n+3):after {
	display: none;
}
.roadmap-container .roadmap-snake .line:nth-child(4n+2):after {
    border-bottom: 28px solid #fff;
    border-right: 28px solid #fff;
    border-bottom-right-radius: 70px;
}
.roadmap-container .roadmap-snake .line:nth-child(4n+4):before {
    border-bottom: 28px solid rgb(255, 255, 255);
    border-bottom-left-radius: 70px;
    border-left: 28px solid rgb(255, 255, 255);
}
.roadmap-container .roadmap-snake .line:nth-child(4n+4):after,
.roadmap-container .roadmap-snake .line:nth-child(4n+5):before {
	display: none;
}
.roadmap-container .roadmap-snake .line:first-child {
	margin-top: -28px;
}
.roadmap-container .roadmap-snake .line:first-child:after {
	border-right: 28px solid rgb(255, 255, 255);
	border-top-right-radius: 70px;
}
@media (max-width:1420px) {
	.roadmap-container .roadmap-snake .line {
		height: 160px;
	}
}
@media (max-width:1700px) {
	.roadmap-container .roadmap-snake {
		max-width: 1060px;
	}
}
@media (max-width:1400px) {
	.roadmap-container .roadmap-snake {
		max-width: 937px;
	}
}
@media (max-width:1200px) {
	.roadmap-container .roadmap-snake {
		max-width: 800px;
	}
}
.roadmap-container .timeline-wrap {
	display: block;
	position: relative;
	max-width: 95%;
	margin: 0 auto;
}
.roadmap-container .timeline-wrap .item {
	width: 20%;
	float: left;
	height: 307px;
	margin-top: -35px;
	position: relative;
}
.roadmap-container .timeline-wrap .item .dot {
    width: 44px;
    height: 44px;
    position: relative;
    border-radius: 100%;
    background-color: #a843fd !IMPORTANT;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
    margin: 0 auto;
}
.roadmap-container .timeline-wrap .item .dot:before {
    content: "";
    display: block;
    position: absolute;
    width: 43px;
    height: 43px;
    background-color: #a75eb5;
    box-shadow: 0 0 5px 15px #d4a0de91;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.roadmap-container .timeline-wrap .item .date {
	font-size: 24px;
	display: block;
	text-align: left;
	max-width: 220px;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	color: #763881;
	opacity: 1;
	text-shadow: 1px 1px #000 !important;
	font-family: 'PrometoW04-Regular' !important;
	
}
.roadmap-container .timeline-wrap .item .text-container {
	font-size: 13px;
	line-height: 15px;
	text-align: left;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 90%;
	color: #ffffff;
	text-shadow: 2px 2px #212121;
	font-family: 'PrometoW04-Regular' !important;
}
.roadmap {
	padding-bottom: 0!important;
}
.roadmap-container .timeline-wrap .item .text-container .title {
	text-align: center;
}
.roadmap-container .timeline-wrap .item:first-child .dot {
	    background-color: #110015;
}
.roadmap-container .timeline-wrap .item:first-child .dot:before {
    background-color: #a75eb5;
    box-shadow: 0 0 5px 15px #f7caff;
}
.roadmap-container .timeline-wrap .item:nth-child(odd) .date {
	bottom: 100%;
	margin-bottom: 30px;
	color: #763881;
	opacity: 1;
}
.roadmap-container .timeline-wrap .item:nth-child(2n) .date,
.roadmap-container .timeline-wrap .item:nth-child(odd) .text-container {
	margin-top: 20px;
}
.roadmap-container .timeline-wrap .item:nth-child(2n) .text-container {
	bottom: 100%;
	margin-bottom: 30px;
}
.roadmap-container .timeline-wrap .item.active .dot:after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: scale(1) translateY(-50%) translateX(-50%);
	height: 100%;
	width: 100%;
	background-image: url(../media/images/svg/check-roadmap.svg);
	background-position: 50%;
	background-repeat: no-repeat;
	z-index: 1;
	opacity: 0;
}
.roadmap-container .timeline-wrap .item.blip .dot:after,
.roadmap-container .timeline-wrap .item.blip .dot:before {
	opacity: 1;
	/* animation: a 2s normal; */
	/* transform: translateY(-50%) translateX(-50%) scale(1); */
}
.roadmap-container .timeline-wrap .item:nth-child(10n+10),
.roadmap-container .timeline-wrap .item:nth-child(10n+6),
.roadmap-container .timeline-wrap .item:nth-child(10n+7),
.roadmap-container .timeline-wrap .item:nth-child(10n+8),
.roadmap-container .timeline-wrap .item:nth-child(10n+9) {
	float: right;
}
.roadmap-container .timeline-wrap .item:nth-child(10n+6) .dot,
.roadmap-container .timeline-wrap .item:nth-child(10n+7) .dot,
.roadmap-container .timeline-wrap .item:nth-child(10n+8) .dot,
.roadmap-container .timeline-wrap .item:nth-child(10n+9) .dot {
	transform: translateX(0);
}
.roadmap-container .timeline-wrap .item:nth-child(10n+10) .dot {
	transform: translateX(50px);
}
.roadmap-container .timeline-wrap .item:nth-child(10n+11),
.roadmap-container .timeline-wrap .item:nth-child(10n+12),
.roadmap-container .timeline-wrap .item:nth-child(10n+13),
.roadmap-container .timeline-wrap .item:nth-child(10n+14),
.roadmap-container .timeline-wrap .item:nth-child(10n+15) {
	transform: translateX(40px);
}
@media (max-width:1780px) {
	.roadmap-container .timeline-wrap .item .text-container {
		width: 100%;
	}
}
@media (max-width:1420px) {
	.roadmap-container .timeline-wrap .item {
		height: 327px;
	}
}
.roadmap-container.left .roadmap-snake .line {
	float: right;
}
.roadmap-container.left .roadmap-snake .line:last-child:before {
	left: 0;
	border-left: 0;
	border-top-left-radius: 0;
}
.roadmap-container.left.items-5 .roadmap-snake .line:last-child {
	width: 95%;
}
.roadmap-container.left.items-4 .roadmap-snake .line:last-child {
	width: 75%;
}
.roadmap-container.left.items-3 .roadmap-snake .line:last-child {
	width: 55%;
}
.roadmap-container.left.items-2 .roadmap-snake .line:last-child {
	width: 59%;
}
.roadmap-container.left.items-1 .roadmap-snake .line:last-child {
	width: 14%;
}
.roadmap-container.right .roadmap-snake .line:last-child {
	width: 96%;
}
.roadmap-container.right .roadmap-snake .line:last-child:after {
	border-right: 0;
	border-top-right-radius: 0;
}
.roadmap-container.right.items-4 .roadmap-snake .line:last-child {
	width: 75%;
}
.roadmap-container.right.items-3 .roadmap-snake .line:last-child {
	width: 50%;
}
.roadmap-container.right.items-2 .roadmap-snake .line:last-child {
	width: 57%;
}
.roadmap-container.right.items-1 .roadmap-snake .line:last-child {
	width: 12%;
}
@media (max-width:1125px) {
	.roadmap-container {
		display: none;
	}
}
.container_road_section {
	width: 100% !important;
	max-width: 85% !important;
}
.work-schema {
	clear: both;
	text-align: center;
	position: relative;
	background: black;
	border-top: 2px solid white;
}
.work-schema .container {
	padding-top: 40px;
}
.work-schema__bg {
	text-align: center;
	margin-top: 78px;
	position: relative;
	/* background: url(../images/workscheme_bg.jpg) center top no-repeat; */
	
	background-size: cover;
	height: 1188px;
	overflow: hidden;
}
.work-schema__img {
	font-weight: 300;
	width: 1248px;
	height: 1188px;
	background: url(../images/download_new.png) 0 0 no-repeat;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -594px 0 0 -624px;
}
.work-schema__text {
	text-align: center;
	position: absolute;
	top: 63px;
	font-size: 30px;
	line-height: 36px;
	color: white !important;
}
.work-schema__text1 {
	width: 344px;
	left: 0;
}
.work-schema__text3 {
	width: 245px;
	left: 766px;
}
.work-schema__text2 {
	width: 360px;
	left: 405px;
}
.work-schema__text4 {
	width: 236px;
	right: 0px;
}
.work-schema__text_f {
	position: absolute;
	font-size: 18px;
	line-height: 22px;
	color: white !important;
}
.work-schema__text5 {
	left: 415px;
	top: 221px;
}
.work-schema__circle {
	position: absolute;
	top: 466px;
	left: 393px;
	mix-blend-mode: screen;
	background: url(../images/schema_krug.png) center center no-repeat;
	width: 369px;
	height: 369px;
}
.work-schema__text6 {
	left: 527px;
	width: 114px;
	top: 618px;
}
.work-schema__text7 {
	left: 168px;
	width: 151px;
	top: 509px;
}
.work-schema__text8 {
	left: 168px;
	width: 151px;
	top: 736px;
}
.work-schema__text9 {
	top: 964px;
	left: 168px;
	width: 151px;
}
.work-schema__text_vert {
	width: 120px;
	white-space: nowrap;
	text-align: center;
	position: absolute;
	font-size: 18px;
	line-height: 22px;
	color: #ccc;
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.work-schema__text10 {
	left: -54px;
	top: 411px;
}
.work-schema__text11 {
	left: -54px;
	top: 635px;
}
.work-schema__text12 {
	left: -54px;
	top: 868px;
}
.work-schema__text13 {
	left: 945px;
	top: 369px;
	color: #4d4c72;
}
.work-schema__text14 {
	left: 945px;
	color: #4d4c72;
	top: 606px;
}
.work-schema__text15 {
	left: 945px;
	color: #4d4c72;
	top: 933px;
}
.work-schema__text16 {
	right: -54px;
	top: 292px;
}
.work-schema__text17 {
	right: -54px;
	top: 523px;
}
.work-schema__text18 {
	right: -54px;
	top: 753px;
}
.work-schema__text19 {
	right: -54px;
	top: 985px;
}
.work-schema__logo {
	position: absolute;
	left: 662px;
	bottom: 0px;
	background: url(../images/web_logo.png);
	width: 100%;
	max-width: 150px;
	background-repeat: no-repeat;
}
.work-schema__logo p {
	margin: -15px 0 0 67px;
	font-size: 14px;
	line-height: 122px;
	COLOR: WHITE;
	letter-spacing: 2px;
}
.work-calculater {
	clear: both;
	text-align: center;
	position: relative;
	padding: 60px 0;
	background: #000000;
	padding-bottom: 140px;
	border-top: 2px solid white;
}
span.divider.center {
	margin-right: auto;
	margin-left: auto;
}
input[type=range] {
	display: block;
	width: 100%;
}
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 25px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}
.work-calculater i,
.work-calculater b {
	color: #a9a9a9;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	font-family: 'PrometoW04-Regular' !important;
}
.work-calculater p,
.work-calculater label {
	color: rgb(251, 246, 252);
	font-size: 18px;
	font-weight: 500;
	font-family: 'PrometoW04-Regular' !important;
}
.atificial-intelligence .container .row {
	min-height: 950px;
	position: relative;
	z-index: 2;
}
.atificial-intelligence__cont {
	padding-top: 104px;
}
.atificial-intelligence__wrap {
	/* width: 100%; */
	/* max-width:50% !Important; */
	text-align: center;
	float: none;
	margin: 0 auto;
	padding-left:0px !important;
	
}
/* .atificial-intelligence__cont h1 { */
	/* letter-spacing: 0px !important; */
	/* font-size: 23px; */
	/* line-height: 108%; */
	/* text-transform: uppercase; */
	/* font-weight: normal !important; */
/* } */
.atificial-intelligence__cont h1 {
    letter-spacing: 0px !important;
    font-size: 29px;
    line-height: 108%;
    text-transform: uppercase;
    font-weight: normal !important;
    position: relative;
    width: 620px;
	font-family: 'PrometoW04-Regular';
}
.atificial-intelligence__p1 {
	margin-top: 50px;
	font-size: 14px;
	letter-spacing: 1px;
	word-spacing: 2px;
}
.atificial-intelligence__list {
	padding-top: 65px;
	width: 348px;
	margin: 0 auto;
	text-align: left;
}
.atificial-intelligence__list a {
	text-align: center;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	width: 156px;
	border: 1px solid #706e71;
	border-radius: 22px;
	height: 44px;
	font-size: 16px;
	line-height: 40px;
	margin: 18px 7px 0 7px;
	position: relative;
}
.atificial-intelligence__list a.app {
	background: #e01364!important;
	border-color: #e01364;
	padding-left: 51px;
	text-align: left;
	white-space: nowrap;
}
.atificial-intelligence__links {
	margin: 120px -40px 0 -12px;
	text-align: left;
	min-height: 10px;
}
.atificial-intelligence__bonuses .p1 {
	font-weight: 200;
	font-size: 100px;
	color: #e01364;
	position: relative;
	line-height: 120%;
}
.atificial-intelligence__links li {
	float: left;
	font-size: 20px;
	font-weight: 300;
	line-height: 120%;
	width: 270px;
	padding: 0 0px 0 75px;
	position: relative;
}
.atificial-intelligence__links li a {
	display: inline-block;
	vertical-align: top;
	padding-bottom: 5px;
	color: #fff;
	text-decoration: none;
	border-bottom: 2px solid #e01364;
}
.atificial-intelligence__links li a {
	display: inline-block;
	vertical-align: top;
	padding-bottom: 5px;
	color: #fff;
	text-decoration: none;
	border-bottom: 2px solid #e01364;
}
.atificial-intelligence__links li+li {
	width: 210px;
}
.atificial-intelligence__links li.ico1 a:before {
	background: url(../images/sprite_png.png) -74px -233px no-repeat;
}
.atificial-intelligence__soc_networks {
	position: absolute;
	right: -46px;
	top: 0;
	width: 46px;
	padding-top: 1px;
}
.atificial-intelligence__soc_networks a {
	opacity: 0.3;
	display: block;
	border-left: 4px solid transparent;
	height: 30px;
	margin-top: 15px;
	background-image: url(/images/sprite.svg?1);
	background-repeat: no-repeat;
}
.atificial-intelligence__sidebar {
	background: #160a20;
	max-width: 387px;
	padding: 14px 42px 80px 42px;
	position: relative;
}
.atificial-intelligence__sidebar:before {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	top: 30%;
	height: 40%;
	z-index: 0;
	background: rgba(22, 10, 32, 1);
	background: -moz-linear-gradient(top, rgba(22, 10, 32, 1) 0%, rgba(92, 69, 106, 1) 48%, rgba(92, 69, 106, 1) 52%, rgba(22, 10, 32, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(22, 10, 32, 1)), color-stop(48%, rgba(92, 69, 106, 1)), color-stop(52%, rgba(92, 69, 106, 1)), color-stop(100%, rgba(22, 10, 32, 1)));
	background: -webkit-linear-gradient(top, rgba(22, 10, 32, 1) 0%, rgba(92, 69, 106, 1) 48%, rgba(92, 69, 106, 1) 52%, rgba(22, 10, 32, 1) 100%);
	background: -o-linear-gradient(top, rgba(22, 10, 32, 1) 0%, rgba(92, 69, 106, 1) 48%, rgba(92, 69, 106, 1) 52%, rgba(22, 10, 32, 1) 100%);
	background: -ms-linear-gradient(top, rgba(22, 10, 32, 1) 0%, rgba(92, 69, 106, 1) 48%, rgba(92, 69, 106, 1) 52%, rgba(22, 10, 32, 1) 100%);
	background: linear-gradient(to bottom, rgba(22, 10, 32, 1) 0%, rgba(92, 69, 106, 1) 48%, rgba(92, 69, 106, 1) 52%, rgba(22, 10, 32, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#160a20', endColorstr='#160a20', GradientType=0);
}
.atificial-intelligence__bonuses .p2 {
	margin-left: -18px;
	text-transform: uppercase;
	font-weight: 300;
	line-height: 120%;
	position: relative;
	font-size: 30px;
	color: #fff;
}
.atificial-intelligence__bonuses .p2 small {
	position: absolute;
	right: 0;
	top: -25px;
	color: #837898;
	font-size: 18px;
	text-transform: none;
}
.atificial-intelligence__counter {
	white-space: nowrap;
	position: relative;
	z-index: 1;
	padding: 0px 42px 0 42px;
	margin: 0px -42px 0 -42px;
	
	line-height: 52px;
}
.atificial-intelligence__counter p {
	font-weight: 300;
	font-size: 18px;
	color: #837898;
	line-height: 22px;
}
.atificial-intelligence__counter span {
	font-size: 48px;
	font-weight: 300;
	position:relative;
	font-family: 'PrometoW04-Regular' !important;
}
.atificial-intelligence__sidebar {
	background: #160a20;
	max-width: 387px;
	padding: 14px 42px 80px 42px;
	position: relative;
}
.atificial-intelligence__bonuses .p2 small {
	position: absolute;
	right: 0;
	top: -25px;
	color: #837898;
	font-size: 18px;
	text-transform: none;
}
.atificial_intelligence__claim {
	padding-top: 6px;
	margin-bottom: -3px;
}
.atificial_intelligence__claim_free {
	white-space: nowrap;
	float: left;
	font-size: 17px;
	color: #fff;
	line-height: 36px;
	position: relative;
}
.atificial-intelligence__sidebar {
	background: #160a20;
	max-width: 35% !important;
	padding: 14px 42px 80px 42px;
	position: relative;
	width: 100%;
}
.footer {
	width: 100%;
	padding-top: 25px;
	padding-bottom: 30px;
	display: block;
	background: #000000;
	border-top: 2px solid white;
}

}
.footer .logo {
	max-width: 156px;
	width: 100%;
	display: inline-block;
	transition: .3s;
	position: relative;
}
footer .right-container {
	text-align: left;
    float: left;
    position: absolute;
    right: 10%;
}
.footer .right-container .social-listing li {
	display: inline-block;
	margin-right: 35px;
}
.fab {
	font-size:20px !important;
}
.main_footer_container {
	display:flex;
	align-items:center;
}
.fab:hover {
	color: #e267fb;
}
.bg-title {
	font-size: 100px !important;
	opacity: .11 !important;
	line-height: 1 !important;
	margin-bottom: -55px !important;
	font-family: 'PrometoW04-Regular' !important;
	font-weight: 600 !important;
	color:white !important;
}
.section-title {
	font-size: 64px !important;
	margin-bottom: 30px !important;
	margin-top: 0 !important;
	font-family: 'PrometoW04-Regular' !important;
	font-weight: 600 !important;
}
.section-title_white_bg {
	color:#fff !important;
	font-family: 'PrometoW04-Regular' !important;
}
.bg_title_new {
	font-size: 88px !important;
	opacity: 0.03 !important;
	line-height: 1 !important;
	margin-bottom: -55px !important;
	font-family: rubik,
	arial,
	sans-serif !important;
	font-weight: 600 !important;
}
.plus_minus {
	margin-top: 2% !Important;
}
.calculate_value {
	margin-bottom:3% !important;
}
.p_1 {
	margin-bottom:3% !important;
}
.p_2 {
	margin-bottom:0.8% !important;
}
.arbbbot__bg {
	text-align: center;
	margin-top: 78px;
	position: relative;
	background: url(../images/arbbot.jpg) center top no-repeat;
	background-size: cover;
	overflow: hidden;
}
.atificial-intelligence img {
	/*width:100%;
	max-width: 90%;
    margin: auto;
    display: block;*/
}
.Abrrot-section {
	background: black;
	border-top: 2px solid white;
	padding: 8% 0;
}
.Abrrot-section img {
	width: 100%;
	max-width: 92%;
	margin: auto;
	display: block;
	background: black;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -0.2em !important;
	margin-left: -.1em !important;
	height: 1.3em !important;
	width: 1.2em !important;
}
.ui-widget-content {
	height:1em !important;
	margin-bottom:10px;
	border-radius: 25px;
	box-shadow: 0px 0 20px 8px rgb(118, 56, 129);
	
    background: rgb(255, 255, 255);
	
}

.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
    border-radius: 22px;
}


#increase,
#decrease {
	width: 30px;
    height: 22px;
    background: #ffffff;
    color: #0e0e0e;
    float: right;
}
#increase{
	border-left: .50px solid #212020;
	
}
#decrease{
	border-right: .50px solid #212020;
	
}
.bg_title_new,
.section-title_white_bg {
	color:#000000 !important;
}
.services-section{
	background: url(../images/service-banner-choosen.jpg) !important;
    background-size: cover !important;
    width: 100%;
    max-width: 100%;
	
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
	background: #9d48ae87 !important;
    border: #9d48ae87!important;
	
}
.ui-widget-header{
	
	background: #9d48ae87;
}
.header__menu li a:hover {
        background: #823d8d;
    padding: 8px 11px;
    border-radius: 7px !important;
    color: white !important;
}
.distribution__line1{
	
	border-left:0px !important;
}
.shanke-line-4{
	width:100% !important;
	max-width:57% !important;
}
#ai_counter__days::after
{
	content: " DAYS";
    position: absolute;
    font-size: 16px;
    top: 39px;
    left: 15%;
    color: #a354b1;
    font-weight: 500;
	
}
#ai_counter__hours::after{
	
	
	content: " HOURS";
    position: absolute;
    font-size: 16px;
    top: 39px;
    left: 5%;
    color: #a354b1;
    font-weight: 500;
}

#ai_counter__min::after{
	
	content: " MINS";
    position: absolute;
    font-size: 16px;
    top: 39px;
    left: 10%;
    color: #a354b1;
    font-weight: 500;
	
}
.list_sale_item
{
	
	background-color: transparent;
    border: none;
}
.table-sale tbody tr td {
	
	border: none !important;
    line-height: 14px !important;
    font-weight: 400;
    font-size: 15px;
	font-family: 'PrometoW04-Regular' !important;
	padding:2px 8px;
}
.table-sale{
	margin-top:6% !important;
	width: 100%;    
    margin-bottom: 20px;    
}
/*.table-sale tbody tr:nth-child(1){
	color:#ff017e !important;
	
}*/
/* .count-div .atificial-intelligence__cont{ */
	    /* padding-top: 32% !important;  */
		/* float:left !important; */
	
	
/* } */
.table-sale tbody tr.pre-sold td{color:#666 !important}
.table-sale tbody tr.pre-soldbfore td{-webkit-animation: color-change 1s infinite;-moz-animation: color-change 1s infinite;-o-animation: color-change 1s infinite;   -ms-animation: color-change 1s infinite;animation: color-change 1s infinite;}
@-webkit-keyframes color-change {
        0% { color: #763881; }
        50% { color:#fff ; }
        100% { color:#763881; }
    }
    @-moz-keyframes color-change {
        0% { color: #666; }
        50% { color:#fff ; }
        100% { color:#666; }
    }
    @-ms-keyframes color-change {
        0% { color: #763881; }
        50% { color:#fff ; }
        100% { color:#763881; }
    }
    @-o-keyframes color-change {
       0% { color: #763881; }
        50% { color:#fff ; }
        100% { color:#763881; }
    }
    @keyframes color-change {
        0% { color: #763881; }
        50% { color:#fff ; }
        100% { color:#763881; }
    }


.table-sale tbody tr.currect-pri td{color:#763881 !important;}
.count-div .atificial-intelligence__cont{
	    padding-top:0% !important; 
		/*float:left !important;
	    position: relative;
        right: 20%;*/
	
	
}

.count-div .atificial-intelligence__wrap
{
	
	/* background: #76388166; */
    padding: 0 0 50px 0;
	
	
}
.count-div .atificial-intelligence__list a.btn-inform{width: 235px; height: 53px; line-height:48px; margin: 0 auto 22px; font-size: 18px; border-radius:27px; background:none}

/*.count-div .atificial-intelligence__list a:nth-child(1){	
    border: 3px solid #fcf6ff !important;
    background: #000;
    width:235px; height: 53px; line-height: 53px
    margin: auto;
    display: block;
    font-size: 18px !important;
	margin-bottom:6% !important;
}

.count-div .atificial-intelligence__list a:nth-child(2){
	
	
	border: 3px solid #763881 !important;
	background:#000;
	width: 79%;
    margin: auto;
    display: block;
    font-size: 18px !important;
    margin-bottom:8% !important;
	color: #763881 !important;
	
	
}*/

.count-div .atificial-intelligence__list a:nth-child(2):hover{
	

    color: #e4b3ec !important;
    border: 3px solid #e4b3ec !important;

	
	
}

.play_video_text{
	    padding-left: 11px;
	
}


/*.count-div .atificial-intelligence__list a:nth-child(3) {
    border: 1px solid black;
    background: #763881;
    border-radius: 0px;
    box-shadow: inset 0px 18px 23px -10px #000, inset 0px -18px 23px -10px #000000;
    font-size: 20px;
    line-height: 6px;
    padding: 29px 0;
    width: 100%;
    max-width: 90%;
    margin: auto;
    display: block;
}*/
/*.count-div .atificial-intelligence__list a:nth-child(3):hover {
    border: 1px solid black;
    background: #83438e;
    border-radius: 0px;
    box-shadow: inset 0px 18px 23px -10px #000, inset 0px -18px 23px -10px #ffffff, 1px -5px 18px #681c7b, 0px -9px 33px #484848;
    font-size: 20px;
    line-height: 6px;
    padding: 29px 0;
    width: 100%;
    max-width: 90%;
    margin: auto;
    display: block;
}*/
/* .count-div .atificial-intelligence__list a:nth-child(3):hover { */
    /* border: 0px !important; */
    /* background: linear-gradient(#774680 43%, #a674af 71%, #ffffff); */
    /* border-radius: 0px; */
    /* box-shadow: inset 0 0 31px #000000, 0px -12px 57px 15px rgb(70, 13, 80); */
    /* font-size: 21px; */
    /* line-height: 6px; */
    /* padding: 24px 0; */
	/* border: 1px solid black; */
/* } */
/* .count-div .atificial-intelligence__list a:nth-child(3):active{ */
	
    /* border: 3px solid white; */
    /* background: #83438e; */
    /* border-radius: 0px; */
    /* box-shadow: inset 0 0 31px #000000, 0 0 78px rgb(0, 0, 0); */
    /* font-family: 'PrometoW04-Regular'; */
    /* font-size: 21px; */
    /* padding: 3px 30px; */
/* } */
.count-div .atificial-intelligence__list a:nth-child(1):hover {
    background: #763881;
}
/* .count-div .atificial-intelligence__list a:nth-child(2):hover { */
    /* background: #763881; */
	/* border: 4px solid #fcf6ff !important; */
/* } */
/* .count-div .atificial-intelligence__list a:nth-child(3):hover { */
    /* background: #763881; */
/* } */
.section-title_gray{
	
	color: #a9a9a9 !important;
	
}

.distribution{
    background: url(../images/DISTRIBUTION-OF-TOKENS-final.jpg) !important;
    background-size: cover;
    width: 100%;
    max-width: 100%;
	background-repeat:no-repeat;
}
.section-title-gray
{
	
	color:#6f6f6f !important;
 	
}
/* .Enter_amount_div input{ */
	
	/* background: transparent; */
    /* border: none; */
    /* border-bottom: 1px solid white; */
    /* font-size: 17px; */
	
	
/* } */

/* .Enter_amount_div input::after{ */
    /* content: ''; */
    /* z-index: 1; */
    /* position: absolute; */
    /* left: 0; */
    /* bottom: 0; */
    /* width: 100%; */
    /* box-sizing: border-box; */
    /* border: 1px solid rgba(255,255,255,0.7); */
    /* height: 8px; */
    /* border-top: 0; */
	
	
/* } */


.top_amount_text
{
	background-color: #000;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;	
	font-family: 'PrometoW04-Regular' !important;
	line-height: 132px;
    position: relative;
    top: -20px;
    margin-top: 0 !important;
	
}
.top_amount_text img{float:right;width:82px; margin-left: 50px }
.top_amount_text .fab
{
	
    position: absolute;
    right: 0;
    font-size: 70px !important;
    bottom: 138px;
	
}
.fa-ethereum-background
{
	
	position: absolute !important;
    color: #808080 !important;
    font-size: 158px !important;
    right: -35px !important;
    bottom: 103px !important;
    opacity: 0.15 !important;
	
}

.distribution__line1_new{
	
	    width: 14% !Important;
	
}
.distribution__line2_new{
	    width: 9.5%;
	
}
.distribution__line3_new
{
    width: 21.5%;	
	
}
.distribution__line4_new
{
	
	width: 25%;
    border-right: 0;
}

.distribution_line_custom_new
{
	border: 1px solid white;
    margin:0px -6px 0 5px;
    position: relative;
    height: 24px;
    /* padding: 12px 0; */
    border-radius: 22px;
    background: rgba(12, 114, 248, 1);
    background: -moz-linear-gradient(to right, rgb(118, 56, 129) 10%, rgb(209, 198, 218) 79%, rgb(0, 0, 0) 39%);
   
    background: -webkit-linear-gradient(to right, rgb(118, 56, 129) 10%, rgb(209, 198, 218) 79%, rgb(0, 0, 0) 39%);
    background: -o-linear-gradient(to right, rgb(118, 56, 129) 10%, rgb(209, 198, 218) 79%, rgb(0, 0, 0) 39%);
    background: -ms-linear-gradient(to right, rgb(118, 56, 129) 10%, rgb(209, 198, 218) 79%, rgb(0, 0, 0) 39%);
    background: linear-gradient(to right, rgb(118, 56, 129) 10%, rgb(209, 198, 218) 79%, rgb(0, 0, 0) 39%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c72f8', endColorstr='#f1186f', GradientType=1);	
	
	
	
}


.distribution__line_custom-new {
    position: relative;
    float: left;
    height: 23px;
    border-left: 3px solid #fff;
	   
}

.hardcap-evot
{
	position: absolute;
    right: 0;
    bottom: -56px;
	font-family: 'PrometoW04-Regular' !important;	
	
	
}
/*Jigna Style*/
.top-text h1{margin-top:7px; margin-bottom:7px;font-family:'PrometoW04-Regular'; font-size:25px;}
.top-text h2.tagline{font-size:20px;color:#fff; text-align:left; margin-top: 0}
@media screen and (max-width: 1400px) {
  .atificial-intelligence .container .row {
  	min-height: auto !important;
    /*min-height: 700px !important;*/
    position: relative;
    z-index: 2;
}
}
.count-div .atificial-intelligence__list a{
	font-family: 'PrometoW04-Regular' !important;
	
	
}

.softcap_font{
	
	font-family: 'PrometoW04-Regular' !important;	
	
}
.footer-contacts{
	
	
     font-family: 'PrometoW04-Regular' !important;
	
}
.play_video_icon{
	
	font-weight: 900;
    zoom: 1.5;
    position: relative;
    top: 11%;
	
}
.atificial-intelligence__list a.btn-buy{line-height: 68px;display: block;height: auto;    border: none;border-radius:0;font-size: 20px;width: 306px; margin: 0 auto}
.atificial-intelligence__list a.btn-buy:hover{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#312235+0,221326+2,251629+6,281528+8,2d172e+10,2f1c32+14,351c39+17,361d3a+18,341b38+19,361d3a+21,3c1e40+23,402244+27,46234b+29,47244c+32,4e2754+36,512c58+40,582e60+43,572b5e+45,5e2d65+48,612f6a+52,673071+55,6b3374+60,72377b+63,71387c+63,864d91+71,8d5997+74,94629d+77,ad83b5+84,b38eba+87,c3a0c8+90,c7a9cb+93,cfb4d3+95,d0b7d4+97,d5bed8+98,d4c3d6+100 */
background: rgb(49,34,53); /* Old browsers */
background: -moz-linear-gradient(top, rgba(49,34,53,1) 0%, rgba(34,19,38,1) 2%, rgba(37,22,41,1) 6%, rgba(40,21,40,1) 8%, rgba(45,23,46,1) 10%, rgba(47,28,50,1) 14%, rgba(53,28,57,1) 17%, rgba(54,29,58,1) 18%, rgba(52,27,56,1) 19%, rgba(54,29,58,1) 21%, rgba(60,30,64,1) 23%, rgba(64,34,68,1) 27%, rgba(70,35,75,1) 29%, rgba(71,36,76,1) 32%, rgba(78,39,84,1) 36%, rgba(81,44,88,1) 40%, rgba(88,46,96,1) 43%, rgba(87,43,94,1) 45%, rgba(94,45,101,1) 48%, rgba(97,47,106,1) 52%, rgba(103,48,113,1) 55%, rgba(107,51,116,1) 60%, rgba(114,55,123,1) 63%, rgba(113,56,124,1) 63%, rgba(134,77,145,1) 71%, rgba(141,89,151,1) 74%, rgba(148,98,157,1) 77%, rgba(173,131,181,1) 84%, rgba(179,142,186,1) 87%, rgba(195,160,200,1) 90%, rgba(199,169,203,1) 93%, rgba(207,180,211,1) 95%, rgba(208,183,212,1) 97%, rgba(213,190,216,1) 98%, rgba(212,195,214,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(49,34,53,1) 0%,rgba(34,19,38,1) 2%,rgba(37,22,41,1) 6%,rgba(40,21,40,1) 8%,rgba(45,23,46,1) 10%,rgba(47,28,50,1) 14%,rgba(53,28,57,1) 17%,rgba(54,29,58,1) 18%,rgba(52,27,56,1) 19%,rgba(54,29,58,1) 21%,rgba(60,30,64,1) 23%,rgba(64,34,68,1) 27%,rgba(70,35,75,1) 29%,rgba(71,36,76,1) 32%,rgba(78,39,84,1) 36%,rgba(81,44,88,1) 40%,rgba(88,46,96,1) 43%,rgba(87,43,94,1) 45%,rgba(94,45,101,1) 48%,rgba(97,47,106,1) 52%,rgba(103,48,113,1) 55%,rgba(107,51,116,1) 60%,rgba(114,55,123,1) 63%,rgba(113,56,124,1) 63%,rgba(134,77,145,1) 71%,rgba(141,89,151,1) 74%,rgba(148,98,157,1) 77%,rgba(173,131,181,1) 84%,rgba(179,142,186,1) 87%,rgba(195,160,200,1) 90%,rgba(199,169,203,1) 93%,rgba(207,180,211,1) 95%,rgba(208,183,212,1) 97%,rgba(213,190,216,1) 98%,rgba(212,195,214,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(49,34,53,1) 0%,rgba(34,19,38,1) 2%,rgba(37,22,41,1) 6%,rgba(40,21,40,1) 8%,rgba(45,23,46,1) 10%,rgba(47,28,50,1) 14%,rgba(53,28,57,1) 17%,rgba(54,29,58,1) 18%,rgba(52,27,56,1) 19%,rgba(54,29,58,1) 21%,rgba(60,30,64,1) 23%,rgba(64,34,68,1) 27%,rgba(70,35,75,1) 29%,rgba(71,36,76,1) 32%,rgba(78,39,84,1) 36%,rgba(81,44,88,1) 40%,rgba(88,46,96,1) 43%,rgba(87,43,94,1) 45%,rgba(94,45,101,1) 48%,rgba(97,47,106,1) 52%,rgba(103,48,113,1) 55%,rgba(107,51,116,1) 60%,rgba(114,55,123,1) 63%,rgba(113,56,124,1) 63%,rgba(134,77,145,1) 71%,rgba(141,89,151,1) 74%,rgba(148,98,157,1) 77%,rgba(173,131,181,1) 84%,rgba(179,142,186,1) 87%,rgba(195,160,200,1) 90%,rgba(199,169,203,1) 93%,rgba(207,180,211,1) 95%,rgba(208,183,212,1) 97%,rgba(213,190,216,1) 98%,rgba(212,195,214,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#312235', endColorstr='#d4c3d6',GradientType=0 ); /* IE6-9 */;box-shadow: 0px 5px 40px #fff;text-shadow: -1px 0px 1px #f2f2f2;}
.atificial-intelligence__list a.btn-buy{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#09070a+0,0a080b+2,0e090f+2,140c17+7,1a0f1d+8,1d1021+11,341d39+19,381d3e+20,3c1e40+21,44244b+24,46264d+25,4b2652+26,562c5e+30,5a2e63+31,613269+34,693573+37,6b3775+39,6e377a+39,6f367a+40,7d3d89+46,874293+52,7d3d89+59,6c3576+67,63316c+70,5e2f65+73,592d60+74,542a5a+76,4a274f+79,47244c+80,3e2042+83,3b1d3f+84,371e3b+85,2b182e+89,29162c+91,231526+92,1f1122+94,130c14+99,130c14+100 */
background: rgb(9,7,10); /* Old browsers */
background: -moz-linear-gradient(top, rgba(9,7,10,1) 0%, rgba(10,8,11,1) 2%, rgba(14,9,15,1) 2%, rgba(20,12,23,1) 7%, rgba(26,15,29,1) 8%, rgba(29,16,33,1) 11%, rgba(52,29,57,1) 19%, rgba(56,29,62,1) 20%, rgba(60,30,64,1) 21%, rgba(68,36,75,1) 24%, rgba(70,38,77,1) 25%, rgba(75,38,82,1) 26%, rgba(86,44,94,1) 30%, rgba(90,46,99,1) 31%, rgba(97,50,105,1) 34%, rgba(105,53,115,1) 37%, rgba(107,55,117,1) 39%, rgba(110,55,122,1) 39%, rgba(111,54,122,1) 40%, rgba(125,61,137,1) 46%, rgba(135,66,147,1) 52%, rgba(125,61,137,1) 59%, rgba(108,53,118,1) 67%, rgba(99,49,108,1) 70%, rgba(94,47,101,1) 73%, rgba(89,45,96,1) 74%, rgba(84,42,90,1) 76%, rgba(74,39,79,1) 79%, rgba(71,36,76,1) 80%, rgba(62,32,66,1) 83%, rgba(59,29,63,1) 84%, rgba(55,30,59,1) 85%, rgba(43,24,46,1) 89%, rgba(41,22,44,1) 91%, rgba(35,21,38,1) 92%, rgba(31,17,34,1) 94%, rgba(19,12,20,1) 99%, rgba(19,12,20,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(9,7,10,1) 0%,rgba(10,8,11,1) 2%,rgba(14,9,15,1) 2%,rgba(20,12,23,1) 7%,rgba(26,15,29,1) 8%,rgba(29,16,33,1) 11%,rgba(52,29,57,1) 19%,rgba(56,29,62,1) 20%,rgba(60,30,64,1) 21%,rgba(68,36,75,1) 24%,rgba(70,38,77,1) 25%,rgba(75,38,82,1) 26%,rgba(86,44,94,1) 30%,rgba(90,46,99,1) 31%,rgba(97,50,105,1) 34%,rgba(105,53,115,1) 37%,rgba(107,55,117,1) 39%,rgba(110,55,122,1) 39%,rgba(111,54,122,1) 40%,rgba(125,61,137,1) 46%,rgba(135,66,147,1) 52%,rgba(125,61,137,1) 59%,rgba(108,53,118,1) 67%,rgba(99,49,108,1) 70%,rgba(94,47,101,1) 73%,rgba(89,45,96,1) 74%,rgba(84,42,90,1) 76%,rgba(74,39,79,1) 79%,rgba(71,36,76,1) 80%,rgba(62,32,66,1) 83%,rgba(59,29,63,1) 84%,rgba(55,30,59,1) 85%,rgba(43,24,46,1) 89%,rgba(41,22,44,1) 91%,rgba(35,21,38,1) 92%,rgba(31,17,34,1) 94%,rgba(19,12,20,1) 99%,rgba(19,12,20,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(9,7,10,1) 0%,rgba(10,8,11,1) 2%,rgba(14,9,15,1) 2%,rgba(20,12,23,1) 7%,rgba(26,15,29,1) 8%,rgba(29,16,33,1) 11%,rgba(52,29,57,1) 19%,rgba(56,29,62,1) 20%,rgba(60,30,64,1) 21%,rgba(68,36,75,1) 24%,rgba(70,38,77,1) 25%,rgba(75,38,82,1) 26%,rgba(86,44,94,1) 30%,rgba(90,46,99,1) 31%,rgba(97,50,105,1) 34%,rgba(105,53,115,1) 37%,rgba(107,55,117,1) 39%,rgba(110,55,122,1) 39%,rgba(111,54,122,1) 40%,rgba(125,61,137,1) 46%,rgba(135,66,147,1) 52%,rgba(125,61,137,1) 59%,rgba(108,53,118,1) 67%,rgba(99,49,108,1) 70%,rgba(94,47,101,1) 73%,rgba(89,45,96,1) 74%,rgba(84,42,90,1) 76%,rgba(74,39,79,1) 79%,rgba(71,36,76,1) 80%,rgba(62,32,66,1) 83%,rgba(59,29,63,1) 84%,rgba(55,30,59,1) 85%,rgba(43,24,46,1) 89%,rgba(41,22,44,1) 91%,rgba(35,21,38,1) 92%,rgba(31,17,34,1) 94%,rgba(19,12,20,1) 99%,rgba(19,12,20,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09070a', endColorstr='#130c14',GradientType=0 ); /* IE6-9 */}